/* form main div sections */

.ConfirmDetails{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60vh;
    width: 22vw;
    background-color: rgb(75, 124, 196);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12), 0 1px 10px rgba(0,0,0,0.24);
}

.form-header{
    height: 10vh;
    width: 22vw;
    border-radius: 10px;
    background-color: rgb(41, 89, 160);
    display: flex;
    justify-content: space-between;
}


/* ------------------------------------------ */







/* Form Header*/

.form-header-description{
    color: white;
    margin-left: 20px;
}

.form-register-now{
    font-size: 28px;
    padding-top: 10px;
}

.form-register-fill{
    font-size: 22px;
    padding-top: 10px;
}

p{
    margin:0;
}

.image-svg{
    margin-right: 20px;
    padding-top: 2.5vh;
}


/* ------------------------------------------ */



.details-label{
    color:white;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.singleline-detail-container{
    display: flex;
    flex-direction: row;
}

.singleline-detail{
    margin-top:10px;
    color: greenyellow;
    font-size: 24px;
    margin-right: 20px;
}

.bio-container{
    display: flex;
    flex-direction: column;
}

.multiline-detail{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    font-size: 24px;
    color:greenyellow;
}

p{
    margin: 0;
}










.controls-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}



input[type=submit] {
    padding:5px 5px; 
    background:#00C2FF; 
    border:1px solid #00C2FF;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 8px;
    height: 7vh;
    font-size: 30px;
    color: white;
    outline: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
}


input[type=submit]:hover {
    box-shadow: 0 7px 5px rgba(0,0,0,0.25), 0 1px 5px rgba(0,0,0,0.22);
}


input[type=button] {
 
    cursor:pointer;
    background-color: Transparent;
    background-repeat:no-repeat;
    height: 4vh;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    overflow: hidden;
    text-decoration: underline;
}

input[type=button]:hover {
    color: rgb(236, 222, 222);
}










.confirm-image{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}